MONGO_URI=mongodb+srv://merdondev_db_user:<db_password>@x-clone.4v9pgsa.mongodb.net/?appName=x-clone
JWT_SECRET=twittercloneusingmernstackwithtypescript
NODE_ENV=local

// Cloudnary

CLOUDNARY_API_KEY=612554392243215
CLOUDNARY_API_SECRET=wCGyjlDVSXM2Xh4zclGQTg6L2Cg
CLOUDNARY_CLOUD_NAME=dozndf3sm








# PAlLpFG0T1NLz8Ej
