VITE_APP_TITLE="X Like Social Site"
VITE_APP_SESSION_TIME="60"
NODE_ENV=development
VITE_APP_DEBUG=false
VITE_MAX_FILES_LIMIT=10

VITE_APP_SITE_NAME="X Like Social Site"
VITE_APP_BASE_URL=http://localhost:5050/api/v1/
VITE_APP_ENV=development